@model GoCyclist.Models.Destination

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.DestinationName);
}

<h1>@Html.DisplayFor(model => model.DestinationName)</h1>

<div>
    <!-- <h4>Details</h4> -->
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
